
    <form>
        <label style="margin-left:10px;">3</label><input id="3" type="number">
        <label>4</label><input id="4" type="number">
        <label>profit: </label><label id="output"></label><label class="labelmargin">profit per 100 (3): </label><label id="100"></label>
    </form>


    <table class="table" id="decanting">
        <thead>
            <tr>
                <th>Potion</th>
                <th>(3)</th>
                <th>(4)</th>
                <th>(3)/dose</th>
                <th>(4)/dose</th>
                <th>profit/dose</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>