<h2 class="title">Jewellery Table</h2>

<div class="form-group">
    <h3 class="selection">Gem</h3>
    <select class="form-control pull-right" id="gemselector" name="gemselect">
        <option value="sapphire">Sapphire</option>
        <option value="emerald">Emerald</option>
        <option value="ruby">Ruby</option>
        <option value="diamond">Diamond</option>
        <option value="dragonstone">Dragonstone</option>
        <option value="onyx">Onyx</option>
        <option value="zenyte">Zenyte</option>
    </select>
</div>
</br>
<div class="titleText">
    <label>Gem: </label><label class="tab" id="gem"></label></br>
    <label>Price: </label><label class="tab" id="gemprice"></label></br>
    <label>Gold Bar: </label><label class="tab" id="goldprice"></label></br>
    <label>Cosmic: </label><label class="tab" id="cosmicprice"></label></br>
</div>

<table id="jewellerytable" class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Component Price</th>
            <th>Sell Price</th>
            <th>Profit Crafting</th>
            <th>Buy Price</th>
            <th>Enchanted Item</th>
            <th>Enchanted Sell</th>
            <th>Profit Enchanting</th>
            <th>Profit Both</th>
        </tr>
    </thead>
    <tbody id="jewellerybody">
    </tbody>
</table>