<h2 class="title">Smithing Table</h2>

<div class="form-group">
    <h3 class="selection">Material</h3>
    <select class="form-control pull-right" id="smithselector">
        <option value="bronze">Bronze</option>
        <option value="iron">Iron</option>
        <option value="steel">Steel</option>
        <option value="mithril">Mithril</option>
        <option value="adamant">Adamant</option>
        <option value="rune">Rune</option>
    </select>
</div>

<table id="smithtable" class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Bar Cost</th>
            <th>Profit</th>
        </tr>
    </thead>
    <tbody id="smithbody">
    </tbody>
</table>