<h2 class="title">Smithing Table</h2>

<div class="form-group">
    <h3 class="selection">Material</h3>
    <select class="form-control pull-right" id="smithselector">
        <option value="bronze">Bronze</option>
        <option value="iron">Iron</option>
        <option value="steel">Steel</option>
        <option value="mithril">Mithril</option>
        <option value="adamant">Adamant</option>
        <option value="rune">Rune</option>
    </select>
</div>
</br>
<div class="title">
    <label>Bar: </label><label class="tab" id="material"></label></br>
    <label>Price: </label><label class="tab" id="materialprice"></label>
</div>

<table id="smithtable" class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Amount made</th>
            <th>Price</th>
            <th>Bars needed</th>
            <th>Profit</th>
        </tr>
    </thead>
    <tbody id="smithbody">
    </tbody>
</table>